{
  "CLERK_TEST_USER_EMAIL": "your_clerk_editor_test_user_email",
  "CLERK_TEST_USER_PASSWORD": "your_clerk_editor_test_user_password",
  "CLERK_SECRET_KEY": "your_clerk_secret_key_starting_with_sk_test_...",
  "CLERK_TEST_USER_ID": "your_clerk_editor_user_id_from_dashboard",
  "CLERK_TEST_VIEWER_EMAIL": "your_clerk_viewer_test_user_email",
  "CLERK_TEST_VIEWER_PASSWORD": "your_clerk_viewer_test_user_password",
  "CLERK_TEST_VIEWER_ID": "your_clerk_viewer_user_id_from_dashboard"
}